/* This stylesheet contains custom styling for Nick Brennan (bricknj)'s website. 
*/
ul {
    color: green
}
ul li {
    list-style: none;
    display: inline-block;
}
ul li a {
    display: block;
    text-decoration: none; /* Can use site-wide if included under a * {  } to remove all link underlines */
}
nav h1 {
    color: white
}

/* about section image css */
.imageAboutPage{
    width: 100%;
}

/* hero background image */
.bgimage {
    height: 100vh;
    background: url('images/deadwood.JPG');
    background-size: cover;
    position: relative;
}
/* text css above hero image */
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* services section css */
.servicesText.card {
    height: 280px;
    cursor: pointer;
}
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000
}
.servicesText:hover {
    border: 1px solid #008000;
}