/* This stylesheet contains custom styling for Nick Brennan (bricknj)'s website. 
*/

ul {

}

ul li {
    list-style: none;
    display: inline-block;
}

ul li a {
    display: block;
    text-decoration: none; /* Can use site-wide if included under a * {  } to remove all link underlines */

}