/* This stylesheet contains custom styling for Nick Brennan (bricknj)'s website. 
*/

a {
    text-decoration: none;
}

h2 {
    color: white;
    background-color: rgb(117, 116, 116);
}

h4 {
    font-style: italic;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

ul li a {
    display: block;
   /* text-decoration: none; */ /* Can use site-wide if included under a * {  } to remove all link underlines */
}
